################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BackendCastilloB/bin/
/BackendCastilloB/obj/
**/bin/
**/obj/
appsettings*.json
**/appsettings*.json
**/wwwroot/